<footer class="page-footer font-small cyan darken-3">
    <!-- <div class="container">
        <div class="row mt-3 text-center">
            <div class="col-12">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon color="primary">facebook</mat-icon>
                  </button>
            </div>
        </div>
    </div> -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright: DevBattle IFA</div>
  </footer>