<div class="col-12 text-center mt-3" *ngIf="boolIndex">
    <h1>Grand jeu Euro 2020 en partenariat avec Volkswagen</h1>
    <img src="https://www.oct-tuning.com/media/k2/items/cache/d61d44254608dd06ccdd2ff02982d14d_L.png" alt="">
    <hr>
    <h3>Participez au grand jeu Volkswagen pour tenter de remporter la toute dernière Golf 8 GTI.</h3>
    <h3>Mettez vous au volant d'une Golf et collectez les 11 ballons de l'équipe de France. <br>
        Attention faites preuve de réflexe pour esquiver les cartons rouges dressés par les arbitres!
    </h3>
    <br>
    <button type="submit" mat-raised-button color="primary" (click)="gameStart()">Jouer</button>
    <p style="font-style:italic; margin-top: 25px;">Attention jeu concours réservé aux personnes majeurs. Les mineurs peuvent toutefois jouer sans participation. <br>
    Résultats du tirage au sort le jour de la finale de la compétition.</p>
</div>