<app-header></app-header>
<div class="container">
    <div class="row body-container">
        <div class="col-12">
            <mat-card class="form-card">
                <!--Header-->
                <div class="text-center">
                    <img class="img-reduce" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs6xkaRZKbrPz0jIZuHGaT3v6SMCJjITWa9g&usqp=CAU" alt="logo">
                </div>
<router-outlet></router-outlet>
</mat-card>
</div>
</div>
</div>
<app-footer></app-footer>