.form-card {
    max-width: 80%;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.body-container{
    min-height: 100vh;
    align-content: center;
}

.img-reduce {
    max-width: 20%;
    margin-bottom: -50px;
}